@require '../../../styles/global.styl';

.add-member-form {
  col(3/4);
  .input-container {
    cf(both);
  }
  input {
    border: 1px solid $light-gray;
    font-size: 1em;
    height: 50px;
    padding: 0 5px;
    col(1/3, cycle: 3, gutter: 1);
  }
  .error {
    color: $error-color;
    display: inline-block;
    &:empty {
      height: 22px;
    }
  }
}

@media only screen and (max-width: $max-tablet) {
  .add-member-form {
    col(1);
    input {
      margin-bottom: 10px;
      col(1);
    }
  }
}