@require '../../../styles/styleHelpers.styl';

.add-member-form {
  col(3/4);
  .input-container {
    cf(both);
  }
  #error-btn {
    border: none;
    background: none;
    color: $error-color;
    font-size: 1em;
    padding: 0;
    cursor: hand;
  }
  //  When there is no error, add padding so an error won't push the form down if it appears
  .no-error {
    padding-top: 18px;
  }
}

@media only screen and (max-width: $max-tablet) {
  .add-member-form {
    col(1);
  }
}
