@require '../../../styles/global.styl';

.display-table {
  text-transform: capitalize;
  col(3/4);
  thead {
    color: $text-emphasis-color;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  td {
    padding-bottom: 10px;
  }
  .break-line {

  }
}

@media only screen and (max-width: $max-tablet) {
  .display-table {
    col(1);
  }
}
@media only screen and (max-width: $max-phone) {
  td,
  th {
    text-align: center;
  }
}