$blue = #044f94;
$very-dark-gray = #555;
$light-gray = #cbc9cf;
$white = #fff;
$yellow-orange = #f6ae1a;
$emphasis-color = $blue;
$structure-color = $light-gray;
$text-color = $very-dark-gray;
$cta-color = $yellow-orange;

body {
  color: $text-color;
  font-family: Avenir;
}
.bottom-margin {
  margin-bottom: 20px;
}
.hidden {
  display: none;
}