// Minimal responsive grid library
@import 'jeet';

// Colors
$blue = #044f94;
$very-dark-gray = #555;
$dark-gray = #808080;
$light-gray = #cbc9cf;
$white = #fff;
$yellow-orange = #f6ae1a;
$red = #ce3d2f;

// Color usages
$emphasis-color = $blue;
$structure-color = $light-gray;
$text-color = $very-dark-gray;
$text-emphasis-color = $dark-gray;
$cta-color = $yellow-orange;
$link-color = $white;
$cta-hover-color = lighten($cta-color, 20);
$link-hover-color = darken($link-color, 20);
$error-color = $red;

// Size Variables
$max-size = 2000px;
$margin-width = 50px;
$small-margin-width = 20px;

// Breakpoints
$max-tablet = 768px;
$max-phone = 450px;