@require '../../../styles/global.styl';

.app {
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.3em;
  }
  header,
  footer {
    color: white;
  }
  header {
    background: $emphasis-color;
    color: $cta-color;
    font-size: 1.5em;
    height: 75px;
    position: relative;
    span,
    button {
      align(vertical);
    }
  }
  footer {
    background-color: $structure-color;
    height: 250px;
    padding-top: 50px;
  }
  .table-container {
    margin-bottom: 20px;
    col(1);
  }
}