@require '../../../styles/styleHelpers.styl';

.app {
  h1,
  h3 {
    color: $emphasis-color;
  }
  h1 {
    font-size: 2em;
  }
  h3 {
    font-size: 1.3em;
  }
  .table-container {
    margin-bottom: 20px;
    col(1);
  }
}
